<div class="loginForm">
  <h1>Can you reset your password here.</h1><br>
  <form class="simple-form" name="editPasswordForm">
      <div class="form-group" ng-class="{ 'has-error' : editPasswordFormPswdForm.email.$invalid && !editPasswordFormPswdForm.email.$pristine }">
        <label for="usr">Type your account e-mail:</label>
        <input type="email" name="email" class="form-control" ng-model="user.email" required>
      </div>

      <button type="button" class="btn btn-primary pull-right" ng-click="resetPassword()" ng-disabled="editPasswordFormPswdForm.$invalid">Reset password</button>
</div>
